[submodule "lib/Math-Helper"]
	path = lib/Math-Helper
	url = https://github.com/ChSt98/Math-Helper.git
[submodule "lib/Simple-Schedule"]
	path = lib/Simple-Schedule
	url = https://github.com/ChSt98/Simple-Schedule.git
